<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>djanGO ml project</title>
</head>
<body>
    {{ a }}
    <h2>Check mileage of you Car Instantly</h2>

    <h3>Please enter details:</h3>
    <br>
    <form method="post" enctype="multipart/form-data" action="predictMPG">
{% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Cylinders:</label> </div> <input name="cylinderVal" type="text" value=8><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">Displacement:</label> </div> <input type="text" id="lname" name="dispVal" value=333><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">horsepower:</label> </div> <input type="text" id="fname" name="hrsPwrVal" value=100><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">weight:</label> </div> <input type="text" id="lname" name="weightVal" value=3200><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">acceleration:</label></div>  <input type="text" id="fname" name="accVal" value=12><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">model:</label> </div> <input type="text" id="lname" name="modelVal" value=70><br><br>
 <br>

 <input type="submit" value="Submit" ></div>

</form>
<br>
{% if scoredVal %}
<h1> The mpg score is {{scoredVal}}</h1>
{% endif %}
</body>
</html>




